/* background image */
.box0
{
 	 width:100%;
	
}
.box1
{
	width:100%;
	

}
.box3{
	width:100%;
	background: url(http://www.avantfind.com/images/yahoo.png) no-repeat right 46px ;
	
}

.logoimg
{ 
	margin-left:18px;
}


.bg0L {
	width:4px; background-image: url(http://www.avantfind.com/images/headerL.png); 
	background-repeat: repeat-y; 
	background-position:100% 100%;
}
.bg0R
{
	width:4px; background-image: url(http://www.avantfind.com/images/headerR.png); 
	background-repeat: repeat-y; 
	background-position:100% 100%;
}
.bg0C
{
	background-image: url(http://www.avantfind.com/images/bg.png); 
	background-repeat: repeat-x repeat-y; 
	background-position:100% 100%;
}

.bg1L {
	width:4px; height:4px;background-image: url(http://www.avantfind.com/images/headerBL.png);
}
.bg1R
{
	width:4px; height:4px;background-image: url(http://www.avantfind.com/images/headerBR.png);
}
.bg1C
{
	height:4px;background-image: url(http://www.avantfind.com/images/headerB.png); 
	background-repeat: repeat-x; 
	background-position:100% 100%;
}


.bg2L {
	width:4px; height:4px;background-image: url(http://www.avantfind.com/images/headerTL.png);
}
.bg2R
{
	width:4px; height:4px;background-image: url(http://www.avantfind.com/images/headerTR.png);
}
.bg2C
{
	height:4px;background-image: url(http://www.avantfind.com/images/headerT.png); 
	background-repeat: repeat-x; 
	background-position:100% 100%;
}

.searchboxTD
{
	padding-left: 12px;
}
.advanceTD
{
	padding-left: 10px;
}