body{margin:0px;padding:0px;}
.d2{position:relative;top:0px;width:100%;height:100px;background:url('img/bgYandex.gif') repeat-x top left;z-index:5;}
.d2-b{position:relative;top:0px;width:100%;height:143px;background:#FFFFFF url('img/bgYandex.gif') repeat-x bottom left;z-index:5;}
.d2-1{margin-left:11px;margin-right:20px;margin-top:10px;height:35px;line-height:35px;}
.d2-1-1{position:relative;float:left;font-family:arial;font-size:16px;color:#575A6B;}
.d2-1-2{position:relative;float:right;width:236px;height:22px;line-height:22px;margin-top:8px;}
.d2-1-1h{position:relative;float:right;font-family:arial;font-size:16px;color:#575A6B;}
.d2-1-2h{position:relative;float:left;width:236px;height:22px;line-height:22px;margin-top:8px;}
.d2-2{float:left;position:relative;text-align:left;width:100%;}
.d2-2h{float:right;position:relative;margin-left:50px;margin-right:50px;text-align:left;}
.d2-2-1 {float:left;height:18px;clear:both;}
.d2-2-1-1 {float:left;margin-right:10px;font-size:13px;color:#0000CC;text-decoration:underline;cursor:pointer;}
.d2-2-2-1 {float:left;position:relative;padding-right:3px;width:85%;}
.d2-2-2-1tr {float:left;position:relative;padding-right:3px;width:94%;}
.d2-2-2-1h {float:right;padding-left:3px;width:92%;}
.d2-2-2-2{position:relative;float:right;}
.d2-2-2-2h{position:relative;float:left;}
.d2-2-3{position:relative;float:center;width:100%;margin-top:10px;display:none;overflow:hidden;}
.d2-2-3h{float:center;margin-top:10px;display:none;width:100%;text-align:center;overflow:hidden;}
.d2-2-3-1{position:relative;float:center;text-align:center;}
.d2-2-3-2{position:relative;float:center;margin-top:6px;text-align:center;}
.d2-2-3-1h{text-align:center;}
.d2-2-2 {position:relative;width:100%;margin-left:50px;margin-right:50px;}
.d2-2-2h {float:right;width:100%;}
.sf_btn{background:url('img/buttonGreen.gif') repeat-x top left;font-family:arial;font-size:14px;border:solid 1px #003C74;cursor:pointer;}
.gt_btn{background:url('img/buttonBlue.gif') repeat-x top left;font-family:arial;font-size:14px;border:solid 1px #003C74;cursor:pointer;}
.d2-2-2-2-r{float:left;height:23px;width:28px;background-image:url(http://c.icq.com/search/img/arrow_lat.gif); background-repeat: no-repeat;cursor:pointer;}
input.r{margin-top:1px;}
form{margin:0px;}
button{cursor:pointer;}
a{color:#0000CC;}
a.rs-link:link,a.rs-link:visited,a.rs-link:hover,.rs-link {font-family:verdana;font-size:11px;cursor:pointer;text-decoration:underline;font-weight:bold;}
.d2-2-2-1-txt {width:100%;color:gray;}
.no_margin{margin:0px;}
.height3{height:3px;}
a.dont_show:link,a.dont_show:visited{color:#575a6b;font-size:14px;font-family:arial;}
a.dont_show:hover{font-size:14px;font-family:arial;text-decoration:underline;}
#mainTitle{font-size:20px;color:#575a6b;}
ul{margin-left:15px;margin-right:15px;font-size:14px;font-family:arial;}
.d3{margin-top:12px;}
.divider{font-size:1px;}
.errorCodeAndDivider{height:4px;line-height:4px;font-size:1px;}
.d3-1{padding-top:4px;}