

//<![CDATA[
var contents_291 = '<span><a target="_blank" href="http://g.msn.com/0AD00001/1556520.1?!&amp;&amp;PID=5402064&amp;UIT=G&amp;TargetID=8300661&amp;AN=1644381172&amp;PG=MSNMMT">Offer: <B>Homeowners</B>, see your loan <B>options</B>. <B>NO</B> SSN REQUIRED. <B>$300k</B> for $1,588/mo Fixed.</A></span>';
if (navigator.appVersion.indexOf("Win")>=0 && parseFloat 
(navigator.appVersion.substr(navigator.appVersion.indexOf("MSIE ")+5)) 
>=4)
{
                try
                {
                                fh_291=parent.document.all[document.body.id];
                                if(!fh_291 || document.body.id.indexOf('dapIf') == -1)
                                {
                                                dlWrite();
                                }
                                else
                                {
                                                fh_291.parentNode.insertAdjacentHTML 
('afterBegin', contents_291);
                                                fh_291.style.display='none';
                                }
                }
                catch(e)
                {
                                dlWrite();
                }
}else{dlWrite();}
function dlWrite(){document.write(contents_291);}
document.close();
//]]>