

//<![CDATA[
var contents_291 = '<span><a target="_blank" href="http://g.msn.com/0AD00001/1557343.1?!&amp;&amp;PID=5475250&amp;UIT=G&amp;TargetID=8415521&amp;AN=1648036481&amp;PG=MSN9UT">Click To See Your <B>CREDIT SCORE</B> - $0</A></span>';
if (navigator.appVersion.indexOf("Win")>=0 && parseFloat 
(navigator.appVersion.substr(navigator.appVersion.indexOf("MSIE ")+5)) 
>=4)
{
                try
                {
                                fh_291=parent.document.all[document.body.id];
                                if(!fh_291 || document.body.id.indexOf('dapIf') == -1)
                                {
                                                dlWrite();
                                }
                                else
                                {
                                                fh_291.parentNode.insertAdjacentHTML 
('afterBegin', contents_291);
                                                fh_291.style.display='none';
                                }
                }
                catch(e)
                {
                                dlWrite();
                }
}else{dlWrite();}
function dlWrite(){document.write(contents_291);}
document.close();
//]]>