body,p,div,table,tr,td,a,ul,ol,dl,dt,li,h1,h2,h3,h4,h5,h6,input,textarea,select{font-family:Verdana,Arial,sans-serif;font-style:normal}
form,input,textarea,select{font-size:100%}
body{background-color:white;margin:0px;padding:0px}
form{margin:0px;padding:0px}
table{margin:0px;padding:0px;border-collapse:collapse;border:none}
table,img{margin:0px;padding:0px;border:none}
a img{border:none}
td{padding:0px;margin:0px}
h1{color:black;font-size:110%;font-weight:normal;margin:0px;padding:20px 0px 12px 0px}
h1 a{font-size:100%;font-weight:normal;margin:0px;padding:20px 0px 12px 0px}
h2{color:black;font-size:120%;font-weight:bold;margin:0px;padding:16px 0px 12px 0px}
h2 a{font-size:100%;font-weight:bold;margin:0px;padding:16px 0px 12px 0px}
h3,h4,h5,h6{color:black;font-size:110%;font-weight:bold;margin:0px;padding:4px 0px 8px 0px}
h3 a,h4 a,h5 a,h6 a{font-size:100%;font-weight:bold;margin:0px;padding:4px 0px 8px 0px}
p{margin:0px;padding:4px 0px 12px 0px}
ul{margin:0px;padding-top:16px}
li{list-style-position: inside;-moz-float-edge:content-box}
a{font-size:100%;color:#003E93}
input{height:1.2em;padding:2px;vertical-align:middle;border:1px #7F9DB9 solid}
input.checkbox,input.radio{padding:0px;margin:2px 0px 2px 0px;border:none;vertical-align:middle}
input.button{height:2em}
input.file{height:1.8em;padding:2px;vertical-align:middle;border:1px #7F9DB9 solid}
label{margin-left:8px}
select,textarea{padding:2px;border:1px #7F9DB9 solid}
hr{color:#080808;background-color:#080808;height:1px;border-width:0px;}

.highlight{color:#ff7200}
.error{color:#f00}
.comment,.small_comment{color:#999}
.aligned{text-align:right}
.enlarge{font-size:100%;font-weight:bold}
.spaced{padding-left:16px}
.spaced_1{padding-bottom:6px}
.spaced_2{padding-left:16px;padding-right:16px}
.small,.small_comment{font-size:90%}
.name,.date{white-space:nowrap}

tr.underline_1 td{border-bottom:1px #080808 solid}
tr.underline_2 td{border-bottom:1px #CFCFCF solid}

.i_foto{width:76px;height:76px;margin:4px}


/*
img#i_logo_s{width:140px;height:31px;clear:both;margin:30px 12px 30px 12px}
img#i_picture,img#i_picture_l{width:679px;height:120px}
img#i_picture_s{width:521px;height:92px}
*/
img.i_gender{width:14px;height:16px;margin:0px 4px 0px 2px;vertical-align:middle}
img#i_tab_form_spacer,img#i_tab_form_spacer_l{width:679px;height:4px}
img#i_tab_form_spacer_s{width:521px;height:4px}
img#i_code{width:120px;height:60px;float:left;margin:0px 16px 0px 0px}
img#i_anketa_fill{width:76px;height:16px;vertical-align: middle;margin:0px 8px 0px 0px}
img#i_ico_pick_up,img#i_ico_add_foto,img#i_ico_add_video{width:24px;height:24px;vertical-align:top;margin:0px 8px 0px 0px;}
img#i_alert{width:85px;height:85px;vertical-align:top;margin:20px;vertical-align:middle}
img#i_close_menu,img#i_open_menu{width:16px;height:16px;margin:0px 8px 0px 0px;vertical-align:middle}
img.i_ico_meet{width:13px;height:13px;margin: 0px 4px 0px 0px;vertical-align:middle}
img.i_light{width:24px;height:24px;vertical-align:middle}
img.i_ico_folder{width:20px;height:17px;vertical-align:middle}
img#i_ico_beeline,img#i_ico_mts,img#i_ico_megafon,img#i_ico_tele2,img#i_ico_skylink,img#i_ico_kcell,img#i_ico_kmobile,img#i_ico_kievstar,img#i_ico_umc{width:57px;height:37px;vertical-align:middle}
img.i_ico_sim{width:57px; height:37px; vertical-align:middle;}
img.i_sort{width:15px;height:15px;margin:0px 3px 0px 3px;vertical-align:middle}
img.i_help{width:82px;height:15px;margin:0px;vertical-align:middle}
img#i_wm_logo{width:170px;height:47px}
img.i_ico_open{width:17px;height:17px;vertical-align:middle;margin:0px 2px 0px 2px}
img.i_ico_sys{width:85px;height:85px;vertical-align:middle;margin:12px 18px 18px 12px}

img.i_ico_mail,img.i_ico_profile,img.i_ico_anketa,img.i_ico_config,img.i_ico_help,img.i_ico_exit{width:20px;height:20px;vertical-align:middle}
img.i_ico_mail,img.i_ico_profile,img.i_ico_anketa,img.i_ico_config,img.i_ico_help{margin:0px 5px 0px 0px;vertical-align:middle}
img.i_ico_exit{margin:0px 0px 0px 5px;vertical-align:middle}
img.i_ico_leader,img.i_ico_up,img.i_ico_pic_on,img.i_ico_money,img.i_ico_globus{width:26px;height:26px;vertical-align:top}

img.i_spacer{width:1px;height:1px}
img.i_spacer_h1{width:4px;height:222px}
img.i_spacer_h2{width:4px;height:36px}
img.i_spacer_h3{width:4px;height:182px}
img.i_spacer_h4{width:974px;height:1px}
img.i_spacer_left,img.i_spacer_left_l{width:228px;height:1px}
img.i_spacer_left_s{width:178px;height:1px}
#l_header img.i_spacer_left,#l_header img.i_spacer_left_l,#l_header img.i_spacer_left_s,#no_join img.i_spacer_left,#no_join img.i_spacer_left_l,#no_join img.i_spacer_left_s{margin:0px 12px 0px 12px}
img.i_spacer_right,img.i_spacer_right_l{width:679px;height:1px}
img.i_spacer_right_s{width:521px;height:1px}
#l_header img.i_spacer_left{margin:0px 12px 0px 12px}

#button_ok_submit{width:51px;height:24px;border:none}
#button_auth_submit{width:63px;height:24px;border:none}
#button_search_submit{width:75px;height:24px;border:none}
#button_registration_submit{width:155px;height:24px;border:none}
#button_save_changes_submit{width:160px;height:24px;border:none}
#button_be_leader_submit{width:127px;height:24px;border:none}
#button_clear_submit{width:91px;height:24px;border:none}
#button_save_submit{width:98px;height:24px;border:none}
#button_delete_submit{width:83px;height:24px;border:none}
#button_cancel{width:93px;height:24px;border:none}
#button_back{width:70px;height:24px;border:none}
#button_pickup_submit{width:128px;height:24px;border:none}
#button_buy_wm{width:305px;height:24px;border:none}
#button_buy_account{width:219px;height:24px;border:none}
#button_pay_account{width:146px;height:24px;border:none}
#button_pay_submit{width:98px;height:24px;border:none}
#button_next_submit{width:108px;height:24px;border:none}
#button_return_submit{width:95px;height:24px;border:none}
#button_continue_view{width:168px;height:24px;border:none}
#button_cancel_view{width:185px;height:24px;border:none}
#button_off{width:102px;height:24px;border:none}
#button_send_submit{width:99px;height:24px;border:none}
#button_send_compliant{width:99px;height:24px;border:none}
#button_make_bids{width:127px;height:24px;border:none}
#button_anketa_up{width:130px;height:24px;border:none}
#button_sendmail{width:130px;height:24px;border:none}
#button_add_domain{width:133px;height:24px;border:none}
#button_get_money{width:158px;height:24px;border:none}
#button_go{width:51px;height:24px;border:none}
#button_edit{width:124px;height:24px;border:none}
#button_restore_files{width:188px;height:24px;border:none}
#button_change_design{width:98px;height:24px;border:none}

div#js_alert{text-align:left;background:#f99;height:24px;left:0px;padding:8px;top:0px;vertical-align:top}

td.blt_3{width:6px;height:6px;background-image:url(/pics/blt_3.gif);background-repeat:no-repeat;background-position:top}
td.brt_3{width:6px;height:6px;background-image:url(/pics/brt_3.gif);background-repeat:no-repeat;background-position:top}
td.blb_3{width:6px;height:6px;background-image:url(/pics/blb_3.gif);background-repeat:no-repeat;background-position:bottom}
td.brb_3{width:6px;height:6px;background-image:url(/pics/brb_3.gif);background-repeat:no-repeat;background-position:bottom}
td.bt_3{width:100%;height:6px;background-image:url(/pics/bt_3.gif);background-repeat:repeat-x;background-position:top}
td.bb_3{width:100%;height:6px;background-image:url(/pics/bb_3.gif);background-repeat:repeat-x;background-position:bottom}
td.bl_3{width:6px;background-image:url(/pics/bl_3.gif);background-repeat:repeat-y;background-position:left}
td.br_3{width:6px;background-image:url(/pics/br_3.gif);background-repeat:repeat-y;background-position:right}

td.bl_4{width:4px;height:34px;background-image:url(/pics/bl_4.gif);background-repeat:no-repeat;background-position:top}
td.br_4{width:4px;height:34px;background-image:url(/pics/br_4.gif);background-repeat:no-repeat;background-position:top}
td.ba_4{height:34px;background-image:url(/pics/bg_active_4.gif);background-repeat:repeat-x;background-position:top}
td.bp_4,td.be_4{height:34px;background-image:url(/pics/bg_passive_4.gif);background-repeat:repeat-x;background-position:top}

td.bl_cp{width:4px;padding:0px;background-image:url(/pics/bl_cp.gif);background-repeat:repeat-y;background-position:left}
td.br_cp{width:4px;padding:0px;background-image:url(/pics/br_cp.gif);background-repeat:repeat-y;background-position:right}
td.blb_cp{width:4px;height:4px;padding:0px;background-image:url(/pics/blb_cp.gif);background-repeat:no-repeat;background-position:left,bottom}
td.brb_cp{width:4px;height:4px;padding:0px;background-image:url(/pics/brb_cp.gif);background-repeat:no-repeat;background-position:right,bottom}
td.bb_cp{height:4px;padding:0px;background-image:url(/pics/bb_cp.gif);background-repeat:repeat-x;background-position:bottom}
td.bl_cp img.i_spacer,td.br_cp img.i_spacer{width:4px;height:17px}
td.blb_cp img.i_spacer,td.brb_cp img.i_spacer{width:4px;height:4px}
td.bb_cp img.i_spacer{width:31px;height:4px}

table.checks tr td{padding:2px;vertical-align:middle}

td.label{font-weight:bold;text-align:right;padding:4px 6px 4px 0px;vertical-align:middle;white-space:nowrap}
td.field{padding:2px 6px 2px 0px;vertical-align:middle}
td.icon{padding:2px 12px 2px 48px;vertical-align:middle;text-align:right}

table#header{width:100%}
table#header tr td#l_header{width:25%;padding:0px 0px 0px 12px;text-align:center;vertical-align:middle}
table#header tr td#r_header{width:75%;padding:0px 12px 0px 12px;text-align:left;vertical-align:bottom}

/*
table#header tr td#l_header .i_spacer{width:281px;height:1px}
*/

table#middle{width:100%;border-top:1px #c7c7c7 solid;border-bottom:1px #c7c7c7 solid}
table#middle tr td#l_middle{width:25%;padding:12px 0px 12px 12px;text-align:left;vertical-align:top}
table#middle tr td#c_middle{width:100%;padding:12px 0px 12px 12px;text-align:center;vertical-align:top}
table#middle tr td#r_middle{width:75%;padding:12px 12px 12px 12px;text-align:left;vertical-align:top}

table#statistics{width:100%;background-color:White;background-image:url(/pics/stat_bg.gif);background-repeat:repeat-x;height:40px}
table#statistics tr td#blt_statistics{width:4px;background-image:url(/pics/stat_blt.gif);background-repeat:no-repeat;background-position:top,left}
table#statistics tr td#brt_statistics{width:4px;background-image:url(/pics/stat_brt.gif);background-repeat:no-repeat;background-position:top,right}
table#statistics tr td#blt_statistics img.i_spacer,table#statistics tr td#brt_statistics img.i_spacer{width:4px;height:36px}

span#stat_forms, span#stat_new_forms, span#stat_now_on_site{padding:4px 4px 2px 32px}
span#stat_forms a, span#stat_new_forms a, span#stat_now_on_site a{font-size:110%;margin:0px;padding:0px}

table#login,table#register{width:100%;}
table#register_error{margin-top:16px}

table#register tr td.content{width:100%;padding:0px 8px 0px 8px;text-align:left;vertical-align:top}
table#login tr td{color:white}
table#login a,table#register a{color:white}
table#login h1{margin:0px;padding:6px 0px 12px 0px}
table#login img.i_spacer, table#register img.i_spacer{width:4px;height:4px}
table#login img.i_spacer_h1{width:4px;height:222px}
table#login tr td#lost_pass{padding-top:16px;font-weight:bold}
table#login tr td#register{padding-top:4px;font-weight:bold}
table#login_data tr td{vertical-align:top}

table#auth,table#auth_2,table#resendmail{width:60%;margin-left:0px;margin-right:auto}
table#auth tr td.form{width:25%;color:white;padding:0px 8px 32px 32px;text-align:left;vertical-align:top}

table#auth tr td.content a,table#auth_2 tr td.content a{color:white}
table#auth img.i_spacer,table#auth_2 img.i_spacer{width:4px;height:4px}
table#auth_2 tr td.user{width:25%;padding:16px 16px 16px 32px;text-align:left;vertical-align:top}
table#auth_2 tr td.content{width:75%;padding:16px 32px 16px 16px;text-align:left;vertical-align:top}

table#auth_2 tr td.form table#login{background:none}
table#auth_2 tr td.form table#login td.label{text-align:left;padding-left:0px}
table#auth_2 tr td.form table#login td.field{width:100%;text-align:left}
table#auth_2 tr td.header_1{width:100%;padding:16px 32px 16px 32px;text-align:left;vertical-align:top}
table#auth_2 tr td.header_2{width:25%;padding:16px 32px 16px 32px;border-top:1px #D4813E solid;text-align:left;vertical-align:top}
table#auth_2 tr td.header_1 h1,table#auth_2 tr td.header_2 h1{margin:0px;padding:0px}
table#resendmail tr td.content{text-align:left;padding:6px 12px 6px 12px}
table#resendmail tr td.content h1,table#resendmail tr td.content p{text-align:left}

table#leader,table#pickup_number{width:100%}
table#leader_number{width:300px}
table#markprofile_number{width:340px}
table#leader tr td,table#pickup_number tr td,table#leader_number tr td,table#markprofile_number tr td{text-align:left;vertical-align:top}
table#leader tr td.content{width:100%;padding:8px 8px 0px 8px;text-align:left;vertical-align:top}
table#pickup_number tr td.content{width:100%;padding:8px;text-align:left;vertical-align:top}
table#leader_number tr td.content,table#markprofile_number tr td.content{padding:8px;text-align:left;vertical-align:top}
table#pickup_number tr td.content h1,table#leader_number tr td.content h1,table#markprofile_number tr td.content h1{margin:0px;padding:0px;display:inline}
table#leader img.i_spacer,table#pickup_number img.i_spacer,table#leader_number img.i_spacer,table#markprofile_number img.i_spacer{width:6px;height:6px}

table#data{width:100%}
table#data tr td#data_content{padding:12px}
table#data tr.buttons td{border-top:1px #D7D7D7 solid;padding-top:16px;}
table#data textarea,table#edit_leader_form textarea{width:99%}
table#edit_leader_form td.photo_radio{padding-right: 16px}

table.form_frame{width:100%; margin:0px; padding:0px;}
table.form_frame tr td.ba1{width:4px;height:38px;background-color:#F6F6F6;background-image:url(/pics/b/a_1.gif);background-repeat:no-repeat;background-position:top;}
table.form_frame tr td.ba2{width:12px;height:38px;background-color:#F6F6F6;background-image:url(/pics/b/a_2.gif);background-repeat:no-repeat;background-position:top;}
table.form_frame tr td.ba3{width:6px;height:38px;background-color:#F6F6F6;background-image:url(/pics/b/a_3.gif);background-repeat:no-repeat;background-position:top;}
table.form_frame tr td.ba4{vertical-align:middle;width:100px;height:38px;background-color:#F6F6F6;background-image:url(/pics/b/a_4.gif);background-repeat:repeat-x;background-position:top;}
table.form_frame tr td.ba5{width:6px;height:38px;background-color:#F6F6F6;background-image:url(/pics/b/a_5.gif);background-repeat:no-repeat;background-position:top;}
table.form_frame tr td.ba2_1{width:100px;height:38px;background-color:#F6F6F6;background-image:url(/pics/b/a_2.gif);background-repeat:repeat-x;background-position:top;}
table.form_frame tr td.ba2_2{width:auto;height:38px;background-color:#F6F6F6;background-image:url(/pics/b/a_2.gif);background-repeat:repeat-x;background-position:top;}
table.form_frame tr td.ba6{width:4px;height:38px;background-color:#F6F6F6;background-image:url(/pics/b/a_6.gif);background-repeat:no-repeat;background-position:top;}
table.form_frame tr td.ba9{width:4px;height:4px;background-color:#F6F6F6;background-image:url(/pics/b/a_9.gif);background-repeat:no-repeat;background-position:top;}
table.form_frame tr td.ba8{width:auto;height:4px;background-color:#F6F6F6;background-image:url(/pics/b/a_8.gif);background-repeat:repeat-x;background-position:top;}
table.form_frame tr td.ba7{width:4px;height:4px;background-color:#F6F6F6;background-image:url(/pics/b/a_7.gif);background-repeat:no-repeat;background-position:top;}

table.form_frame tr td.ba3_1{width:7px;height:38px;background-color:#F6F6F6;background-image:url(/pics/b/a_3_1.gif);background-repeat:no-repeat;background-position:top;}

table.form_frame tr td.ba2_1 h1, table.form_frame tr td.ba4 h1, table.form_frame tr td.ba4_2 h1 {text-align:center;padding:4px 12px 4px 12px;white-space:nowrap}

table.form_content{width:100%;margin:0px;padding:0px}
table.form_content tr td.border{width:1px;background-color:#CCCCCC}
table.form_content tr td.content{width:auto;background-color:#F6F6F6}

table.form_data{width:100%}
table.form_data tr td {padding:10px 0px 10px 10px;}
table.form_data tr td.label{width:25%;text-align:left}
table.form_data tr td.field{width:75%;text-align:left}
table.form_data tr td.comment{color:black;padding:0px 0px 18px 0px}
table.form_data tr td h3{font-weight:normal;margin:0px;padding:0px}
table.form_data tr.underline_1 td{padding-bottom:6px}

table.form_data_2 tr td{padding:12px 12px 12px 0px;vertical-align:middle}

table.form_data_3 tr td{padding:6px 12px 6px 0px;vertical-align:middle}

table#pickup_form{width:100%}
table#pickup_form tr td{vertical-align:top}
table#pickup_form tr td h1{margin-top:0px;padding-top:0px}
table#pickup_form tr td#pickup_money{width:50%;padding:12px;border-right:1px #CFCFCF solid}
table#pickup_form tr td#pickup_free{width:50%;padding:12px}

table#anketa_form tr.underline_2 td{padding-bottom:6px}
table#anketa_form table.checks{width:100%}
table#anketa_form table.params{width:100%}
table#anketa_form table.params tr td{padding-right:8px;vertical-align:middle;white-space:nowrap}
table#anketa_form table.checks tr td textarea{width:99%}
table#anketa_form table.checks tr td{padding:2px;vertical-align:middle}

#couple_login_form{background:#ddd;padding:8px}

table.form_error{width:100%;margin-bottom:12px}
table.form_error tr td.content{width:100%;padding:8px 8px 0px 8px;text-align:left;vertical-align:top}
table.form_error img.i_spacer{width:6px;height:6px}
table.form_error tr td h1{padding:8px 8px 8px 0px}

table#support_data{width:100%}
table#support_data tr td h3{font-weight:bold;margin:8px 0px 12px 0px}

span#passwords{white-space:nowrap;width:100%}
span#pass1,span#pass2,span#textpass1,span#textpass2, #passwords .spaced{float:left;padding-right:6px}
span#textpass1,span#textpass2{display:none;visibility:hidden}
input#field_login,input#field_email,input#field_name{width:300px}
input#field_check{width:136px}
input#password_password_1,input#password_password_2,input#field_password_1,input#field_password_2{width:75px}

table#tabs,table.tab_design{width:100%}

table#tabs tr td.tab_active{vertical-align:middle}
table#tabs tr td.tab_active table.tab_design tr td.tab_header{padding:6px 8px 10px 8px;text-align:left;vertical-align:middle;white-space:nowrap}
table#tabs tr td.tab_active table.tab_design tr td.tab_header h1{text-align:left;padding:0px;white-space:nowrap}

table#tabs tr td.tab_empty{width:100%;vertical-align:bottom}
table#tabs tr td.tab_empty table.tab_design tr td.tab_header{padding:6px 0px 10px 16px;text-align:left;vertical-align:middle;white-space:nowrap}
table#tabs tr td.tab_empty table.tab_design tr td.tab_header h1{text-align:left;padding:0px;white-space:nowrap}

table#tabs tr td.tab_icons{width:100%;vertical-align:bottom}
table#tabs tr td.tab_icons table.tab_design tr td.tab_header{padding:3px 0px 0px 32px;text-align:left;vertical-align:top;white-space:nowrap}
table#tabs tr td.tab_icons table.tab_design tr td.tab_header h1{padding-bottom:10px}
table#tabs tr td.tab_icons table.tab_design tr td img.i_ico_leader,table#tabs tr td.tab_icons table.tab_design tr td img.i_ico_up{width:26px;height:26px;margin:0px;vertical-align:middle}

table#tabs tr td.tab_passive{vertical-align:bottom}
table#tabs tr td.tab_passive table.tab_design tr td.tab_header{padding:6px 28px 10px 32px; text-align:center;vertical-align:middle;white-space:nowrap}
table#tabs tr td.tab_passive table.tab_design tr td.tab_results{padding:6px 32px 10px 0px;text-align:left;vertical-align:middle;white-space:nowrap}
table#tabs tr td.tab_passive table.tab_design tr td.tab_header h1{text-align:right;padding:0px;white-space:nowrap}
table#tabs tr td.tab_passive table.tab_design tr td.tab_results h1{text-align:left;padding:0px;white-space:nowrap}

table#tabs tr td.tab_passive_index{width:100%;vertical-align:middle}
table#tabs tr td.tab_passive_index table.tab_design tr td.tab_header{padding:6px 32px 10px 32px;text-align:right;vertical-align:middle;white-space:nowrap}
table#tabs tr td.tab_passive_index table.tab_design tr td.tab_header h1{text-align:left;padding:0px;white-space:nowrap}

table#tabs tr td.tab_search_passive{vertical-align:middle}
table#tabs tr td.tab_search_passive table.tab_design tr td.tab_header{padding:6px 32px 10px 32px;text-align:right;vertical-align:middle;white-space:nowrap}
table#tabs tr td.tab_search_passive table.tab_design tr td.tab_header h1{text-align:right;padding:0px;white-space:nowrap}

table#tab_content,table#search,table#search_on,table#search_off,table#meetengs,table#myprofile{width:100%;}
table#tab_content tr td.content,table#search_on tr td.content{width:100%;padding:4px 8px 4px 8px;text-align:left;vertical-align:middle}
table#myprofile tr td.content{width:100%;padding:16px 8px 4px 8px;text-align:left;vertical-align:middle}

table#search label,table#search_form label,table.tab_form label,table.checks label{padding:0px;margin:0px}

table.tab_design tr td img.i_spacer, table#tab_content tr td img.i_spacer{width:4px;height:4px}

table#tabs_2{width:100%;margin:12px 0px 0px 0px}

table#tabs_2 tr td.ba_4{vertical-align:middle}
table#tabs_2 tr td.ba_4 h1{text-align:center;padding:4px 12px 4px 12px;white-space:nowrap}

table#tabs_2 tr td.be_4{width:100%;vertical-align:middle}
table#tabs_2 tr td.be_4 h1{text-align:left;padding:0px;white-space:nowrap}

table#tabs_2 tr td.bp_4{vertical-align:middle}
table#tabs_2 tr td.bp_4 h1{text-align:left;padding:4px 12px 4px 12px;white-space:nowrap}

table#tabs_2 tr td.bl_4 img.i_spacer{width:4px;height:34px}
table#tabs_2 tr td.br_4 img.i_spacer{width:4px;height:34px}

table#tabs_2 tr td.bc_4{width:100%;background-color:white}

table#search_type{width:100%;margin:8px 0px 8px 0px}
table#search_type tr td{padding:4px;text-align:right;vertical-align:middle;white-space:nowrap}
table#search_type td.t_back{text-align:left}

#search_show{padding:6px 0px 8px 0px}

table.myprofile_data{width:100%}
table.myprofile_data tr td {vertical-align:top}

table.tab_form tr td{text-align:left;vertical-align:top}
table.tab_form tr td.label{font-weight:bold;text-align:left;padding:2px 6px 2px 0px;vertical-align:middle}
table.tab_form tr td.field{padding:2px 6px 2px 0px;vertical-align:middle}
table.tab_form tr td.foto{width:82px;padding:0px 4px 0px 0px;vertical-align:top}
table.tab_form tr td.description{padding:0px 0px 0px 16px;vertical-align:top}
table.tab_form tr td.description h1{padding-top:0px}
table.tab_form tr.spaced td{padding-top:16px;vertical-align:top}
table.tab_form tr.spaced td.field{vertical-align:middle}
table.tab_form tr.spaced td p{padding:4px 0px 0px 0px;vertical-align:top}
#field_search_age_from,#field_search_age_to{width:3em;font-size:100%;text-align:center}
table#search #field_search_age_from,table#search #select_search_lookfor{margin-left:16px}
table#search_off #field_search_age_from,table#search_off #select_search_lookfor{margin-left:16px}
table#meetengs #field_search_age_from{margin-left:0px}
table#search #label_search_age,table#search #label_search_lookfor{padding-left:16px}
table#search_off #label_search_age,table#search_off #label_search_lookfor{padding-left:16px}
table#search .checkbox,table#search_off .checkbox{margin-left:0px}

table#footer{width:100%}
table#footer tr td{padding:12px;font-size:96%;font-weight:bold}
table#footer tr td.left{width:25%}
table#footer tr td.right{width:75%}

table#footer_menu{width:100%}
table#footer_menu tr td{vertical-align:top;}

td#td_support{}
td#td_partner{padding-left:48px}
td#td_footer_1,td#td_footer_2{text-align:right;color:#999}

table#join_out,table#leader_out{width:100%}
table#join_out tr td#c_join_out,table#leader_out tr td#c_leader_out{padding:0px 12px 0px 12px}

table#join{width:100%;background-color:#f0f0f0;background-image:url(/pics/adv_bg.gif);background-repeat:repeat-x;height:88px}
table#join tr td.blb_join{width:4px;background-image:url(/pics/adv_blb.gif);background-repeat:no-repeat;background-position:bottom}
table#join tr td.brb_join{width:4px;background-image:url(/pics/adv_brb.gif);background-repeat:no-repeat;background-position:bottom}
table#join tr td.c_join{width:100%;text-align:center;vertical-align:middle}
table#join tr td.blb_join img.i_spacer,table#join tr td.brb_join img.i_spacer{width:4px;height:88px}

table#join tr td{text-align:center}

table#user_menu{width:100%;margin:8px}
table#user_menu tr td{text-align:left}
table#user_menu tr td{font-size:90%}
table#user_menu tr td#td_mail{font-weight:bold}
table#user_menu tr td#td_exit{padding-right:12px;text-align:right}

table#add_menu{width:100%;margin:24px 0px 12px 0px}
table#add_menu tr td{font-size:90%;
	font-weight:normal;text-align:left;padding:4px 24px 4px 24px}

span.adverting{width:100%;margin:16px 0px 16px 0px;padding:0px}
span.adverting h2{text-align:center;font-size:105%;padding:0px;margin:0px;color:#6b6b6b}
span.adverting h1{text-align:center;font-size:130%;padding:0px;margin:0px}
span.adverting h2 span.highlight{color:#000;font-weight:bold}

table#announce{margin:24px 12px 24px 12px;width:90%}
table#announce tr td{padding:0px 32px 0px 32px}

table#new_faces{width:100%;margin:16px 0px 16px 0px;}
table#new_faces tr td.b_female{width:50%;background-color:#ffb6b6;background-image:url(/pics/div_l.gif);background-repeat:no-repeat;background-position:left}
table#new_faces tr td.b_male{width:50%;background-color:#d5dfed;background-image:url(/pics/div_r.gif);background-repeat:no-repeat;background-position:right}
table#new_faces tr td img.i_spacer{width:4px;height:4px}

table#new_faces tr td#females,table#new_faces tr td#males{width:50%;vertical-align:top}
table#new_faces tr td#females{padding:16px 8px 8px 0px}
table#new_faces tr td#males{padding:16px 0px 8px 8px}

table#login table.f_foto,table#register table.f_foto,table#auth table.f_foto,table#auth_2 table.f_foto{background-image:url(/pics/foto_g_bg.gif)}
table#login table.m_foto,table#register table.m_foto,table#auth table.m_foto,table#auth_2 table.m_foto{background-image:url(/pics/foto_m_bg.gif)}

table#tab_content table.f_foto{background-image:url(/pics/foto_g_bg.gif)}
table#tab_content table.m_foto{background-image:url(/pics/foto_m_bg.gif)}

table#auth_error{width:60%;margin-top:24px;margin-left:0px;margin-right:auto}
td.block_header{text-align:right}

table#meetengs_form tr td {padding-left:0px;padding-right:24px;white-space:nowrap}

table#meetengs_conditions{width:100%}
table#meetengs_conditions td.label{font-weight:normal}

table#message_folders{width:100%}
table#message_folders th{font-weight:bold;text-align:left}
table#message_folders td{padding: 4px 3px 4px 3px;border-top:1px #9FADC2 solid;vertical-align:middle}
table#message_folders td.selected{background:#D7E1EE}

table#messages_users,table#look_at_me_users{border-bottom:1px #9FADC2 solid}
table#messages_users td.user_data,table#look_at_me_users td.user_data{border-top:1px #9FADC2 solid}
table#messages_users td.user_checkbox,table#look_at_me_users td.user_number{border-top:1px #9FADC2 solid;vertical-align:middle}
table#messages_acton td{padding:4px 12px 4px 0px;vertical-align:middle}

table#folder_data{margin-top:24px}
table#folder_data td{padding-top:4px;padding-bottom:4px}
table#folder_data td.label{text-align:left;padding-left:0px;white-space:nowrap}
table#folder_data td.empty{width:100%}
table#folder_data td.comment{white-space:nowrap}
table#folder_data tr.spaced td{padding-bottom:16px}
table#folder_data tr.buttons td{border-top:1px #D7D7D7 solid;padding-top:16px;}

table.female,table.male{width:100%;border-bottom:1px #c7c7c7 solid;margin-bottom:6px}
table#leader tr td.content table.female,table#leader tr td.content table.male{border:none}
table.female tr td.c_female,table.male tr td.c_male{padding: 0px 0px 6px 0px}
table.f_foto,table.m_foto{width:86px;height:86px;margin:0px 4px 0px 0px;float:left}

table.f_foto{text-align:center; vertical-align:middle; background-image:url(/pics/foto_g_bg.gif);background-repeat:no-repeat;}
table.m_foto{text-align:center; vertical-align:middle; background-image:url(/pics/foto_m_bg.gif);background-repeat:no-repeat}
table.f_foto tr td.c_f_foto,table.m_foto tr td.c_m_foto{padding:0px}

td.foto table.f_foto,td.foto table.m_foto{width:86px;height:86px;margin:0px;float:left}

#operators{text-align:right}
#leader_operators{width:300px;text-align:right}
#markprofile_operators{width:340px;text-align:right}

table#transactions{width:100%;border-bottom:1px #9FADC2 solid}
table#transactions th{font-weight:bold;text-align:left;padding: 4px 3px 4px 3px}
table#transactions td{padding: 4px 3px 4px 3px;border-top:1px #9FADC2 solid}

table.table{border-bottom:1px #9FADC2 solid;margin:8px 0px 24px 0px}
table.table th{font-weight:bold;text-align:left;border-top:1px #9FADC2 solid;padding: 4px 3px 4px 3px}
table.table td{padding: 4px 3px 4px 3px;border-top:1px #9FADC2 solid}
table.table tr.no_border td{border:none}
table.table .value{text-align:right}

table#t_bonuses .name{width:200px}
table#t_bonuses .value{width:100px}

table#leader_graph{width:100%}
table#leader_graph tr td{padding:16px}

table#leader_graph_header{width:100%;margin:16px 0px 8px 0px;border-top:1px #C8C8C8 solid}
table#leader_graph_header td#time{text-align:right}
table#leader_graph_footer{width:100%}
table#leader_graph_footer td#edit{text-align:right}
table#leader_graph_data{margin:0px 0px 8px 0px;border-bottom:1px #C8C8C8 solid}
table#leader_graph_photo{margin:0px 0px 8px 0px}
table#leader_graph_data td.lc{width:94px;height:136px;padding:0px 16px 0px 16px;text-align:left;vertical-align:bottom}
table#leader_graph_photo td.lc{width:94px;height:90px;padding:0px 16px 0px 16px;text-align:left;vertical-align:top}
table#leader_graph_photo table.f_foto,table#leader_graph_photo table.m_foto{margin:0px}
table#leader_graph_data td.lc img.spacer,table#leader_graph_photo td.lc img.spacer{width:84px;height:1px}
table#leader_graph_data td.lc img.bid{width:32px;height:6px;margin:0px 0px 0px 26px}
div.bid{font-weight:bold;width:32px;text-align:center;margin:0px 0px 0px 26px}

table.pager{width:100%;margin:8px 0px 16px 0px}
table.pager tr td{text-align:center;vertical-align:middle;padding:0px}
table.pager tr td.page{width:2em;height:21px;text-align:center;padding:6px 1em 6px 1em;background-image:url(/pics/page_bg.gif);background-repeat:repeat-x;background-position:top}
table.pager tr td.current_page{width:2em}
table.pager tr td.current_page table{width:100%;height:21px}
table.pager tr td.current_page td.content{width:100%;height:21px;padding:6px 0.5em 2px 0.5em;text-align:center;vertical-align:middle}
table.pager tr td.empty_page{width:100%;height:21px;background-image:url(/pics/page_bg.gif);background-repeat:repeat-x;background-position:top}
table.pager tr td.page img.i_spacer{width:2em;height:1px}

table#transaction{width:40%}
table#transaction td,table#feedback_form td{padding-top:6px;padding-bottom:6px}

table#system_message,table#system_message_content{width:100%}
td.sm_icon{width:115px}

table#user_anketa tr td{padding:0px}
.photo_num{padding:4px 16px 4px 0px;height:78px;float:left}

table#t_multyphoto{width:84px;height:100px;padding:0px;margin:0px;float:left}
table#t_multyphoto tr td.td_multyphoto{padding:0px;vertical-align:middle}
table#photo_error{margin-top: 12px}

tr.underline_2 td.field table.checks tr td{border:none;padding:2px;vertical-align:middle}
table.tab_form tr.spaced td.field{padding-top:16px;vertical-align:middle}
#dealer_error{margin-top:16px}
table.filter tr td{padding:0px 6px 0px 0px;vertical-align:middle}
table.dealer_stat{width:360px;border-bottom:1px #9FADC2 solid;border-top:1px #9FADC2 solid;margin-bottom:16px}
table.dealer_stat th{font-weight:bold;text-align:center;padding: 4px 3px 4px 3px}
table.dealer_stat td{padding: 4px 3px 4px 3px;border-top:1px #9FADC2 solid;text-align:center;vertical-align:middle}
table#dealer_aggr_stat{width:360px}
table#dealer_detail_stat{width:100%}

p.dealer_domain{font-weight:bold;margin:24px 0px 8px 0px;padding:0px}
p.add_form{margin:24px 0px 8px 0px;padding:0px}

table#t_select_design{width:200px}
table#t_select_design tr td.td_design_color{width:84px;height:84px;padding: 0px 16px 12px 0px;text-align:center;vertical-align:middle}
table#t_select_design tr td.td_design_input{padding: 0px;text-align:left;vertical-align:middle}

table#t_current_design{width:100%;margin:0px 0px 32px 0px}
table#t_current_design tr td#td_design_picture{width:256px;height:256px;padding: 0px 16px 12px 0px;text-align:center;vertical-align:middle}
table#t_current_design tr td.td_design_description{width:100%;padding: 0px 0px 0px 32px;text-align:left;vertical-align:middle}

.i_design_item{width:84px;height:84px}
.i_design_picture{width:256px;height:346px}