﻿.keyword
{
	 
	border:none;
	width:360px;
	background-color:white;
	font-size: 18px;
	vertical-align: middle;
	font-weight:normal;

}
.searchbtn
{
    border:none;
	width:26px;
 	height:26px;
    margin: 1px 2px 1px 0;
    vertical-align: middle;
 	background-image: url(http://www.avantfind.com/images/Search.png)
}

.searchbox{
	display: block;
	border: 1px solid #CDCDCD;
	background-color: white;
    margin-left:5px;
	float: left;

}
/* index page*/
#centerPostion{
	height:0px; width:100%;top:30%;position:absolute;
}
#index{}
.box4{ width:524px;height:108px;margin-left:20px;margin-Right:20px;}
.img1
{
  float:right;
  margin-bottom:8px;
  width:512px;
}
/*legal*/
#index .legal{
	color: #BDBDBB;
	margin-right:8px;
	padding: 2px 0px 2px 0;
}