
table#login,table#register,table#auth,table#auth_2,table#resendmail{background-color:#ff9b4a}
table#tabs tr td.tab_active{background:#b7c7df;}
table#tab_content,table#search,table#search_on,table#search_off,table#meetengs,table#myprofile{background-color:#b7c7df}


td.blt_1{width:4px;height:4px;background-image:url(/pics/11/blt_1.gif);background-repeat:no-repeat;background-position:top}
td.brt_1{width:4px;height:4px;background-image:url(/pics/11/brt_1.gif);background-repeat:no-repeat;background-position:top}
td.blb_1{width:4px;height:4px;background-image:url(/pics/11/blb_1.gif);background-repeat:no-repeat;background-position:bottom}
td.brb_1{width:4px;height:4px;background-image:url(/pics/11/brb_1.gif);background-repeat:no-repeat;background-position:bottom}
td.bt_1{width:100%;height:4px;background-image:url(/pics/11/bt_1.gif);background-repeat:repeat-x;background-position:top}
td.bb_1{width:100%;height:4px;background-image:url(/pics/11/bb_1.gif);background-repeat:repeat-x;background-position:bottom}
td.bl_1{width:4px;background-image:url(/pics/11/bl_1.gif);background-repeat:repeat-y;background-position:left}
td.br_1{width:4px;background-image:url(/pics/11/br_1.gif);background-repeat:repeat-y;background-position:right}

td.blt_2{width:4px;height:4px;background-image:url(/pics/11/blt_2.gif);background-repeat:no-repeat;background-position:top}
td.brt_2{width:4px;height:4px;background-image:url(/pics/11/brt_2.gif);background-repeat:no-repeat;background-position:top}
td.blb_2{width:4px;height:4px;background-image:url(/pics/11/blb_2.gif);background-repeat:no-repeat;background-position:bottom}
td.brb_2{width:4px;height:4px;background-image:url(/pics/11/brb_2.gif);background-repeat:no-repeat;background-position:bottom}

td.bt_2{height:4px;background-image:url(/pics/11/bt_2.gif);background-repeat:repeat-x;background-position:top}
td.bb_2{height:4px;background-image:url(/pics/11/bb_2.gif);background-repeat:repeat-x;background-position:bottom}
td.bl_2{width:4px;background-image:url(/pics/11/bl_2.gif);background-repeat:repeat-y;background-position:left}
td.br_2{width:4px;background-image:url(/pics/11/br_2.gif);background-repeat:repeat-y;background-position:right}
td.bc_2{width:4px;height:4px;background-image:url(/pics/11/bc_2.gif);background-repeat:repeat-y;background-position:right}


table#statistics tr td#c_statistics{width:100%;text-align:left;vertical-align:middle;background-image:url(/pics/11/stat_bt.gif);background-repeat:no-repeat;background-position:top,left}
table#statistics tr td#c_statistics_l{width:100%;text-align:left;vertical-align:middle;}
table#statistics tr td#c_statistics_s{width:100%;text-align:left;vertical-align:middle;}


table#login tr td.content{width:100%;padding:0px 8px 0px 8px;text-align:left;vertical-align:top;background-image:url(/pics/11/p_keys.gif);background-repeat:no-repeat;background-position:right bottom}
table#login tr td.content_auth{width:100%;padding:0px 8px 0px 8px;text-align:left;vertical-align:top;background-image:url(/pics/11/p_keys_auth.gif);background-repeat:no-repeat;background-position:right bottom}


table#auth tr td.content{width:75%;padding:46px 8px 32px 8px;text-align:left;vertical-align:top;background-image:url(/pics/11/p_keys.gif);background-repeat:no-repeat;background-position:right bottom}


table#auth_2 tr td.form{width:75%;color:white;border-top:1px #D4813E solid;padding:16px 64px 16px 16px;text-align:left;vertical-align:top;background-image:url(/pics/11/p_keys.gif);background-repeat:no-repeat;background-position:right bottom}
table#search tr td.content,table#search_off tr td.content,table#meetengs tr td.content{width:100%;padding:4px 8px 4px 8px;text-align:left;vertical-align:middle;background-image:url(/pics/11/p_binocular.gif);background-repeat:no-repeat;background-position:right bottom}
