body
{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: black;
	height:100%;
	min-width:750px;
	_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<750?"750px":"");
	_zoom: 1;
}
.minWidth750{
	border:0px;
	height:0px;
	width:750px;
}
.minWidth700{
	border:0px;
	height:0px;
	width:700px;
}
form
{
	margin:0;
	padding:0;
}
h1, h2, h3 {
	margin: 0;
	color: #660000;
}

h1
{
	margin: 10px 0px 10px 0px;
	font-size: 16px;
}

h2 {
	font-size: 16px;
	font-weight: normal;
}

h3
{
	font-size: 12px;
	font-weight: normal;
	padding-top: 10px;
}

p, ol, ul {
	line-height: 180%;
}

p {
}

ol {
}

ul {
}

blockquote {
	margin: 0;
	padding-left: 20px;
	border-left: 10px solid #E6E6E6;
	font-style: italic;
	color: #999999;
}
blockquote * {
	line-height: normal;
}

a
{
	color: blue;
}

a:hover {
	text-decoration: none;
}

img {
	border: none;
}


hr {
	display: none;
}